

/*************************** Full Page Styles **************************/
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: sans-serif;
}



body{
    min-height: 100vh;
    width: 100%;
}



/**************************** Header Styles ******************************/
.header_section .side-menu, .hamb, .logo{
    display: none;
}

 .header_section{
    width: 100%;
    min-height: 10vh;
   /* max-height: 11vh;background-color: #ececef;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ececef 10px ), repeating-linear-gradient( #80dfff55, #80dfff );
  */
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.14609593837535018) 0%, rgba(0,212,255,0.4598214285714286) 100%);
}


li{
    list-style-type: none;
}

.cross_picture{
    height: 10vh;
}

.navigation_bar{
    margin-top: 2.25%;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}

.navigation_bar a:hover{
    transition: 0.2s;
    color: #2336dc
}


a{
   text-decoration: none; 
   color: black;
   font-size: 1.2vw;
}

/***************************** Main Styles ********************************/

.index h1{
    text-align: center;
    font-size: 4vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
}

.the_buttons{
    display: flex;
    flex-direction: column;
    text-align: center;

}


.learn_more_buttons{
    display: flex;
    justify-content: center;
    background-color: #4d85b2;
    color: white;
    padding: 1% 1.5%;
}

.learn_more_buttons:hover{
    opacity: 70%;
    transition: 0.5s;
}

#join_us_in_person_button{
    width: 15%;
    align-self: center;
    margin-bottom: 1%;
    background-color: white;
    font-size: 1.5vw;
}

#join_us_online_button{
    width: 15%;
    align-self: center;
    background-color: lightblue;
    font-size: 1.5vw;
}

#join_us_in_person_button:hover, #join_us_online_button:hover{
    opacity: 70%;
    transition: 0.5s;
}

.main_section{
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
    url("../photos/bible_picture.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    


.below_main_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 70vh;
    padding-top: 7%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.14609593837535018) 0%, rgba(0,212,255,0.4598214285714286) 100%);
}

.white_box_of_below_main{
    background-color: white;
}

.portion_of_below_main_section img{
    height: 25vh;
}

/***************************** Footer Styles ********************************/
.footer_section, .footer_section a{
    width: 100%;
    text-align: center;
    min-height: 20vh;
    padding-top: 1.5%;
    background-color: grey;
    color: white;
    font-size: 1vw;
}

.footer_section h5{
    color: black;
}

.footer_section a:hover{
    transition: 0.5s;
    color: lightseagreen;
}





/*******************************About Us Page ************************************/

.about_us .title{
    color: white;
}

.about_us h1{
        text-align: center;
        font-size: 3vw;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 3%;
        color: white;
    }


.about_us .above_main_picture{
    width: 84%;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
    url("../photos/cross-religion-christianity-jesus-christ-faith-religious-christian-holy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



    .about_us .grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

    .about_us .text_container{
        display: grid;
        justify-content:space-around;
    }

    .about_us .side_pictures_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 20vw);
    grid-gap: 1.5vh;
    width: 70%;
    justify-self: end;
}



    .about_us .side_picture img{
        width: 85%;
        height: 100%;
        object-fit: cover;
        justify-self: end;
    }

    /***********************************Worship Page *****************************************/

    .worship .title{
        color: white;
    }

    .worship h1{
        text-align: center;
        font-size: 3vw;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 3%;
        color: white;
    }
    
    .worship .above_main_picture{
        width: 84%;
        min-height: 40vh;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
        url("../photos/bible_studies_pic.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .worship .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .worship .grid_item{
        padding-bottom: 5vh
    }

    .worship .grid_item img{
            width: 85%;
            height: 100%;
            object-fit: cover;
            justify-self: end;
    
    }

    .worship .button{
        margin-top: 3%;
        display: grid;
        width: 35%;
        background-color: lightblue;
        font-size: 1.5vw;
    }

    .worship .button:hover{
        transition: 0.5s;
        opacity: 80%;
    }

    /************************************Contact *****************************************************/

    .contact fieldset{
        border: 0;
    }

    .contact .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .contact .grid_item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .contact .grid_item2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: auto;
        padding-bottom: 5vh;
    }

    .contact .grid_item3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: auto;
        height: 50vh;
        padding-bottom: 5vh;
    }

    .contact label, .contact input{
        display: flex;
        flex-direction: column;
    }

    .contact .makeLonger{
        width: 85%;
    }

    /************************************Give ****************************************/

    .give .title{
        color: white;
    }
    
    .give h1{
            text-align: center;
            font-size: 3vw;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 5%;
            padding-bottom: 3%;
            color: white;
        }

    .give .above_main_picture{
        width: 84%;
        min-height: 40vh;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
        url("../photos/Christianity-Jesus_Christ_Died_for_your_Sin.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .give .just_below_main_picture{
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;     
        margin-bottom: 3%;
    }

    .give .grid_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 40vh;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 1%
    }


    /************ Responive designs for cell phones (360 x 640) ********************************/

    @media (min-width: 480px){

    }

    @media(min-width: 820px){

    }

