

/*************************** Full Page Styles **************************/
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: sans-serif;
}



body{
    min-height: 100vh;
    width: 100%;
    border:  red 5px solid;
}



/**************************** Header Styles ******************************/

.header_section{
    width: 100%;
    min-height: 10vh;
    max-height: 11vh;background-color: #ececef;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ececef 10px ), repeating-linear-gradient( #80dfff55, #80dfff );
 
}

li{
    list-style-type: none;
}

.cross_picture{
    height: 10vh;
}

.navigation_bar{
    margin-top: 2.5%;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}


/***************************** Main Styles ********************************/

h1{
    text-align: center;
    font-size: 4vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
}

.the_buttons{
    display: flex;
    flex-direction: column;

}

#join_us_in_person_button{
    width: 15%;
    align-self: center;
    margin-bottom: 1%;
    background-color: white;
    font-size: 1.5vw;
    
  
}

#join_us_online_button{
    width: 15%;
    align-self: center;
    background-color: lightblue;
    font-size: 1.5vw;
}
.main_section{
    width: 100%;
    min-height: 90vh;
    
}

main{
    background-image: url("../photos/bible_picture.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.below_main_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 70vh;
    padding-top: 7%;
    background-color: #ececef;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ececef 10px ), repeating-linear-gradient( #80dfff55, #80dfff );
   
}

.portion_of_below_main_section img{
    height: 25vh;
}

/***************************** Footer Styles ********************************/
.footer_section{
    width: 100%;

    border: solid blue 3px;
    text-align: center;
    min-height: 30vh;
    padding-top: 10%;
    background-color: grey;
}
.footer_section h4{
    color: white;
}


