

/*************************** Full Page Styles **************************/
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: sans-serif;
}



body{
    min-height: 100vh;
    width: 100%;
}



/**************************** Header Styles ******************************/

 .header_section{
    width: 100%;
    min-height: 10vh;
   /* max-height: 11vh;background-color: #ececef;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ececef 10px ), repeating-linear-gradient( #80dfff55, #80dfff );
  */
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.14609593837535018) 0%, rgba(0,212,255,0.4598214285714286) 100%);
}


li{
    list-style-type: none;
}

.cross_picture{
    height: 10vh;
}

.navigation_bar{
    margin-top: 2.25%;
    float: right;
    width: 50%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}

.navigation_bar a:hover{
    transition: 0.2s;
    color: #2336dc
}


a{
   text-decoration: none; 
   color: black;
   font-size: 1.2vw;
}

/** get's rid of the button that has to be clicked**/
.side-menu{
    display: none;
}


/***************************** Main Styles ********************************/

.index h1{
    text-align: center;
    font-size: 4vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
}

.the_buttons{
    display: flex;
    flex-direction: column;
    text-align: center;

}


.learn_more_buttons{
    display: flex;
    justify-content: center;
    background-color: #4d85b2;
    color: white;
    padding: 1% 1.5%;
}

.learn_more_buttons:hover{
    opacity: 70%;
    transition: 0.5s;
}

#join_us_in_person_button{
    width: 15%;
    align-self: center;
    margin-bottom: 1%;
    background-color: white;
    font-size: 1.5vw;
}

#join_us_online_button{
    width: 15%;
    align-self: center;
    background-color: lightblue;
    font-size: 1.5vw;
}

#join_us_in_person_button:hover, #join_us_online_button:hover{
    opacity: 70%;
    transition: 0.5s;
}

.main_section{
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
    url("../photos/bible_picture.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    


.below_main_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 70vh;
    padding-top: 7%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.14609593837535018) 0%, rgba(0,212,255,0.4598214285714286) 100%);
}

.white_box_of_below_main{
    background-color: white;
}

.portion_of_below_main_section img{
    height: 25vh;
}

/***************************** Footer Styles ********************************/
.footer_section, .footer_section a{
    width: 100%;
    text-align: center;
    min-height: 20vh;
    padding-top: 1.5%;
    background-color: grey;
    color: white;
    font-size: 1vw;
}

.footer_section h5{
    color: black;
}

.footer_section a:hover{
    transition: 0.5s;
    color: lightseagreen;
}





/*******************************About Us Page ************************************/

.about_us .title{
    color: white;
}

.about_us h1{
        text-align: center;
        font-size: 3vw;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 3%;
        color: white;
    }


.about_us .above_main_picture{
    width: 84%;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
    url("../photos/cross-religion-christianity-jesus-christ-faith-religious-christian-holy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



    .about_us .grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

    .about_us .text_container{
        display: grid;
        justify-content:space-around;
    }

    .about_us .side_pictures_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 20vw);
    grid-gap: 1.5vh;
    width: 70%;
    justify-self: end;
}



    .about_us .side_picture img{
        width: 85%;
        height: 100%;
        object-fit: cover;
        justify-self: end;
    }

    /***********************************Worship Page *****************************************/

    .worship .title{
        color: white;
    }

    .worship h1{
        text-align: center;
        font-size: 3vw;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 3%;
        color: white;
    }
    
    .worship .above_main_picture{
        width: 84%;
        min-height: 40vh;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
        url("../photos/bible_studies_pic.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .worship .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .worship .grid_item{
        padding-bottom: 5vh
    }

    .worship .grid_item img{
            width: 85%;
            height: 100%;
            object-fit: cover;
            justify-self: end;
    
    }

    .worship .button{
        margin-top: 3%;
        display: grid;
        width: 35%;
        background-color: lightblue;
        font-size: 1.5vw;
    }

    .worship .button:hover{
        transition: 0.5s;
        opacity: 80%;
    }

    /************************************Contact *****************************************************/

    .contact fieldset{
        border: 0;
    }

    .contact .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .contact .grid_item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .contact .grid_item2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: auto;
        padding-bottom: 5vh;
    }

    .contact .grid_item3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: auto;
        height: 50vh;
        padding-bottom: 5vh;
    }

    .contact label, .contact input{
        display: flex;
        flex-direction: column;
    }

    .contact .makeLonger{
        width: 85%;
    }

    /************************************Give ****************************************/

    .give .title{
        color: white;
    }
    
    .give h1{
            text-align: center;
            font-size: 3vw;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 5%;
            padding-bottom: 3%;
            color: white;
        }

    .give .above_main_picture{
        width: 84%;
        min-height: 40vh;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.73)),
        url("../photos/Christianity-Jesus_Christ_Died_for_your_Sin.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .give .just_below_main_picture{
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;     
        margin-bottom: 3%;
    }

    .give .grid_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 40vh;
        width: 84%;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 1%
    }


    /************ Responive designs for cell phones (360 x 640) ********************************/
    /************************* Index page ***********************************/

    /** Everything below until I say it's done, is just to get the "hamburger" menu and grey screen when it's clicked**/

    @media (max-width: 480px){
      .header_section{
        position: sticky; 
        top: 0;
        background-color: grey;
        box-shadow: 1px 1px 5px 0px var(--gray);

        }
        .logo{
            display: inline-block; 
            color: var(--white);
            font-size: 1.2vh;
            margin-left: 1vw;
        }
        /* Nav menu */

        .navigation_bar{
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: lightslategrey;
            overflow: hidden;

        }
        .menu {
            display: flex;
            flex-direction: column;
            min-height: 50vh;
        }

        .menu a{
            color: var(--white);
            font-size: 8vw;
            margin: 3%;
        }
        .menu a:hover{
            background-color: lightblue;
        }
        .navigation_bar{
            max-height: 0;
            transition: max-height .5s ease-out;
        }


        .hamb{
            cursor: pointer;
            float: right;
            padding: 40px 20px;
        }/* Style label tag */
        
        .hamb-line {
            background: white;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
        
        } /* Style span tag */
        
        .hamb-line::before,
        .hamb-line::after{
            background: white;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        .hamb-line::before{
            top: 5px;
        }
        .hamb-line::after{
            top: -5px;
        }
        
        .side-menu {
            display: none;
        } /* Hide checkbox */
        
                /* Toggle menu icon */
        .side-menu:checked ~ nav{
            max-height: 100%;   
        }
        .side-menu:checked ~ .hamb .hamb-line {
            background: transparent;
        }
        .side-menu:checked ~ .hamb .hamb-line::before {
            transform: rotate(-45deg);
            top:0;
        }
        .side-menu:checked ~ .hamb .hamb-line::after {
            transform: rotate(45deg);
            top:0;
        }
               /** Nav bar edit is done here **/

/** The area for the sunday service and location of bible studies. gotta have them stack on top of one another**/

/** Everything below is about repositioning the parent element for the pictures, and text**/
.index .below_main_section{
    min-height: 5vh;
    display: flex;
    flex-direction: column;
}

.index .portion_of_below_main_section{
    width: 100%; 
}

.index .portion_of_below_main_section img{
    height: 20vh;
    width: 85%;
    margin-left: 7%;
}
 
.index #join_us_in_person_button, #join_us_online_button{
    width: 50%;
    height: 4vh;
    margin-bottom: 5%;
    font-size: 5vw;
}

/**Everything below is about resizing the text **/
      
.index h1{
    font-size: 10vw;
}

.index .portion_of_below_main_section h3{
    font-size: 6vw;
    margin-left: 3.5%
}

.index .learn_more_buttons{
    height: 3vh;
    font-size: 4vw;
}

.index .below_main_section .portion_of_below_main_section + .portion_of_below_main_section{
    margin-top: 5%;
}

.index .white_box_of_below_main p{
    font-size: 4.5vw;
    margin-left: 3.5%;
}

.footer_section h4, h5{
    font-size: 3.3vw;
}

.footer_section .Portion_of_footer_section a{
    font-size: 3.3vw;
}

      }



 
